// import base
@import './base/reset.scss';
@import './base/animation.scss';
// Import helper
@import './helper/variables.scss';
@import './helper/mixins.scss';
@import './helper/functions.scss';
// import layout
@import './layout/app.scss';
@import './layout/container.scss';
// import component
@import './components/navbar.scss';
@import './components/button.scss';
// import pages
@import './pages/home.scss';
@import './pages/pokedex.scss';
@import './pages/legendaries.scss';
@import './pages/documentation.scss';
@import './pages/404.scss';
.filter-pokedex {
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    height: 636px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}