// Variable 
// Color
$primary-color: #f2b807;
$second-color: #f28f16;
$third-color:#f5db13;
$danger-color: #d93e30;
$white-color: #f6f7f9;
$dark-color: #212121;
// Font 
$primary-font:'Karla',
sans-serif;
$second-font: 'Source Sans Pro',
sans-serif;