@import '../helper/variables.scss';
@import '../helper/mixins.scss';
// legendaries
.legendaries {
    background-color: $dark-color;
}

.legendaries-wrapper {
    .pokemon-legendaries {
        .pokemon-legendaries__heading {
            @include font($primary-font, 5em, $white-color, 400);
            letter-spacing: 2px;
            padding: 40px 0 20px 0;
            border-bottom: 1px solid $white-color;
        }
    }
}

.infomation-pokemon {
    // min-height: 426.76px;
    // max-height: 426.76px;
    display: flex;
    align-items: center;
    margin: 50px 0;
    justify-content: space-between;
    .infomation-pokemon__image {
        width: 40%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center
        }
    }
    .infomation-pokemon__info {
        background-color: $dark-color;
        width: 45%;
        padding: 0 25px;
        .infomation-pokemon__name {
            @include font($primary-font, 5em, $white-color, 400);
        }
        .infomation-pokemon__paragraph {
            @include font($primary-font, 1.8em, $white-color, 400);
            margin: 25px 0;
        }
        .infomation-pokemon__fight {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .infomation-fight__item {
                width: 50%;
                margin-bottom: 30px;
                p {
                    @include font($primary-font, 1.8em, $white-color, 400);
                }
                .index-fight {
                    @include font($primary-font, 1.8em, $white-color, 600);
                    text-align: left;
                }
                .indicator-bar {
                    width: 90%;
                    height: 7px;
                    background-color: $white-color;
                    border-radius: 10px;
                    .indicator-bar__hide {
                        width: 60%;
                        height: 100%;
                        background-color: $primary-color;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

.pokemon-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 22px;
}

.pokemon-slide-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .card-pokedex {
        min-width: 143.21px;
        min-height: 180.46px;
        background: linear-gradient(215.78deg, #B59810 -124.09%, #B57E10 -78.76%, #F9DF7B -35.76%, #FFF3A6 8.4%, #F9DF7B 50.24%, #B57E10 99.06%);
        border-radius: 20px;
        position: relative;
        .card-pokedex__img {
            @include position('tl', -30px, 50%);
            transform: translateX(-50%);
            width: 200%;
            height: 180.46px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 8888;
        }
        .card-pokedex__info {
            @include position('bl', 0, 0);
            width: 100%;
            background-color: $white-color;
            min-height: 52.3px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            padding: 0 10px;
            span {
                @include font($primary-font, 1.8em, $dark-color, 500);
            }
        }
    }
}

// Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .legendaries {}
    .legendaries-wrapper {
        .pokemon-legendaries {
            .pokemon-legendaries__heading {
                @include font($primary-font, 4em, $white-color, 400);
                letter-spacing: 2px;
                padding: 40px 0 25px 0;
                margin: 0 25px;
            }
        }
    }
    .infomation-pokemon {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        .infomation-pokemon__image {
            width: 100%;
            margin: 25px;
        }
        .infomation-pokemon__info {
            width: 100%;
        }
    }
}

// Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .legendaries-wrapper {
        padding: 0 22px;
    }
    .infomation-pokemon {
        .infomation-pokemon__image {
            width: 45%;
        }
        .infomation-pokemon__info {
            width: 55%;
            padding: 0;
        }
    }
}